<div class="login-form-div">
  <form class="log-in-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="login-text">
      <h1 class="log-in-h1">Увійдіть у свій профіль</h1>
      <h1 class="share-text">share</h1>
    </div>
    <mat-form-field class="login-form-field" appearance="standard">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
             [errorStateMatcher]="errorMatcher" placeholder="email@example.com">
      <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
        Введіть коректну адресу
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email <strong>обов'язковий</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-form-field" appearance="standard">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Пароль <strong>обов'язковий</strong>
      </mat-error>
    </mat-form-field>
    <button class="log-in-button" mat-raised-button color="primary">Увійти</button>
  </form>
</div>
