<div class="proposition-status">
  <p *ngIf="isActive()">Статус: пропозиція актуальна</p>
  <p *ngIf="!isActive()">Статус: пропозиція вже прийнята</p>
<!--  <p *ngIf="!(status == 1) && !(status == 2)">Статус: пропозиція недоступна для прийняття</p>-->
</div>
<div class="whole_prop">
  <div>
    <mat-card class="view_prop_card">
      <img>
      <mat-card-header>
        <mat-card-title>{{proposition.name}}</mat-card-title>
        <mat-card-subtitle>Створено: {{proposition.createDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <img mat-card-image src="https://cdn.shopify.com/s/files/1/0806/0141/products/KALA-LTP-MH-KIT_1024x1024.jpg?v=1571914470" alt="Photo of a proposition`s author">
          <div class="overlay">
            <div class="proposition-author">
              <div mat-card-avatar class="header-image"></div>
              <p>{{proposition.authorName}} </p>
            </div>
            <div class="text"> Контактна інформація: +380 (44) 255–70–42 </div>
          </div>
        </div>
        <p> {{proposition.description}} </p>
        <div>
          <agm-map [latitude]="lat"  [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
<!--  <div>-->
<!--      <agm-map [latitude]="lat"  [longitude]="lng">-->
<!--        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--      </agm-map>-->
<!--  </div>-->
</div>
<!--<div>-->
<!--  <label>name:-->
<!--    <input [(ngModel)]="proposition.name" placeholder="name"/>-->
<!--  </label>-->
<!--</div>-->
<!--<div><span>create date: </span>{{proposition.createDate}}</div>-->
<!--<div><span>author id: </span>{{proposition.authorId}}</div>-->
