<div class="proposition-status">
  <p *ngIf="isActive()">Статус: пропозиція актуальна</p>
  <p *ngIf="!isActive()">Статус: пропозиція вже прийнята</p>
<!--  <p *ngIf="!(status == 1) && !(status == 2)">Статус: пропозиція недоступна для прийняття</p>-->
</div>

<!--<div class="whole_prop">-->
<!--  <div>-->
<!--    <mat-card class="view_prop_card">-->
<!--      <img>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{proposition.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>Створено: {{proposition.createDate}}</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <div class="container">-->
<!--          <img mat-card-image src="https://cdn.shopify.com/s/files/1/0806/0141/products/KALA-LTP-MH-KIT_1024x1024.jpg?v=1571914470" alt="Photo of a proposition`s author">-->
<!--          <div class="overlay">-->
<!--            <div class="proposition-author">-->
<!--              <div mat-card-avatar class="header-image"></div>-->
<!--              <p>{{proposition.authorName}} </p>-->
<!--            </div>-->
<!--            <div class="text"> Контактна інформація: +380 (44) 255–70–42 </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p> {{proposition.description}} </p>-->
<!--        <div>-->
<!--          <agm-map [latitude]="proposition.location[0]"  [longitude]="proposition.location[1]">-->
<!--            <agm-marker [latitude]="proposition.location[0]" [longitude]="proposition.location[1]"></agm-marker>-->
<!--          </agm-map>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->

<div class="overall-view-div">
  <mat-grid-list class="whole_prop" cols="2">

    <mat-grid-tile [colspan]="1" class="left-column" >
      <div class="left-column-div">
        <img mat-card-image class="proposition-image" [src]="proposition.images" alt="Photo of a proposition`s author">
        <p> {{proposition.description}} </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" class="right-column">
      <div class="right-column-container">
        <div class="user-info">
          <div class="user-share">
            <h1 class="info-h1">Користувач</h1>
            <h1 class="share-text">share</h1>
          </div>
          <div class="container">
            <div mat-card-avatar class="header-image"></div>
            <!--          <h1 class="mat-h1" >{{proposition.authorName}}</h1>-->
            <h1 class="mat-h1" >{{proposition.authorName}}</h1>
            <div class="overlay">
              <div class="text">
                <p class="text-phone">Телефон: some number </p>
                <p class="text-email">Email: some email </p>
              </div>
            </div>
          </div>
        </div>
        <div class="map-container">
          <h3>Точна адреса</h3>
          <agm-map [latitude]="proposition.location[0]"  [longitude]="proposition.location[1]">
            <agm-marker [latitude]="proposition.location[0]" [longitude]="proposition.location[1]"></agm-marker>
          </agm-map>
        </div>
        <button mat-raised-button class="accept-button" (click)="acceptProposition()" color="primary">Мені це потрібно</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


