<div class="propositions">
  <div class="proposition-share">
    <h1 class="main-menu-h1">Пропозиції</h1>
    <h1 class="share-text">share</h1>
  </div>
  <div class="proposition" *ngFor="let proposition of propositions">
    <mat-card class="proposition-card"  (click)="view_proposition(proposition, proposition.id)">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="mat-h1" >{{proposition.authorName}}</mat-card-title>
<!--        <mat-card-title class="mat-h1">{{proposition.name}}</mat-card-title>-->
      </mat-card-header>
      <mat-card-content class="mat-card-components">
        <div class="mat-card-img">
          <img mat-card-image class="mat-card-img" style="margin: 0;" [src]="proposition.images">
        </div>
        <div class="mat-card-description">
          <h4>Дата створення: {{proposition.createDate}} </h4>
          <mat-card-title class="mat-h1">{{proposition.name}}</mat-card-title>
<!--          <p class="mat-h4">{{proposition.description}}</p>-->
          <p class="location-h1">до вас: {{distanceTo(proposition)}} км</p>
        </div>
        <div>
          <agm-map [latitude]="proposition.location[0]"  [longitude]="proposition.location[1]">
            <agm-marker [latitude]="proposition.location[0]" [longitude]="proposition.location[1]"></agm-marker>
          </agm-map>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
