.propositions {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

.main-menu-h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 250%;
}

.proposition-card {
  margin-top: 10px;
  min-height: 200px;
}
