<div class="prop-outer-div">
  <form class="prop-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <h1 class="prop-form-h1">Створити нову пропозицію</h1>
    <mat-form-field class="prop-form-field" appearance="fill">
      <mat-label>Коротка назва предмету чи послуги</mat-label>
      <input matInput type="text" formControlName="name" [errorStateMatcher]="errorStateMatcher" placeholder="Плащ хокаге">
      <mat-error *ngIf="createForm.get('name').hasError('required')">
        Назва обов'язкова!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="prop-form-field" appearance="fill">
      <mat-label>Детальний опис товару</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="description" [errorStateMatcher]="errorStateMatcher" placeholder="Розмір М, стан 3/5, аренда до тижня"></textarea>
    </mat-form-field>
    <button mat-raised-button class="prop-form-button" color="primary">Готово</button>
  </form>
<!--  <agm-map [latitude]="lat"  [longitude]="lng">-->
<!--    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--  </agm-map>-->
</div>
