<div class="prop-outer-div">
  <mat-grid-list [cols]="2" style="width: 100%;">
    <mat-grid-tile [colspan]="1">
      <div class="left-col-div">
        <img [src]="imageUrl">
        <div class="map-class">
          <agm-map  [latitude]="lat"  [longitude]="lon">
            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
          </agm-map>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <form class="prop-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <h1 class="prop-form-h1">Створити нову пропозицію</h1>
        <mat-form-field class="prop-form-field" appearance="fill">
          <mat-label>Коротка назва предмету чи послуги</mat-label>
          <input matInput type="text" formControlName="name" [errorStateMatcher]="errorStateMatcher" placeholder="плащ хокаге">
          <mat-error *ngIf="createForm.get('name').hasError('required')">
            Назва обов'язкова!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="prop-form-field" appearance="fill">
          <mat-label>Детальний опис товару</mat-label>
          <textarea matInput cdkTextareaAutosize formControlName="description" [errorStateMatcher]="errorStateMatcher" placeholder="Розмір М, стан 3/5, аренда до тижня"></textarea>
        </mat-form-field>
        <label class="file-label">
          <input type="file" name="image_btn" accept=".png, .jpg, .jpeg" (change)="onChange($event.target.files)" />
<!--          <span class="file-cta">-->
<!--&lt;!&ndash;            <span class="file-icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <fa-icon [icon]="['fas', 'upload']"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--            <span class="file-label">-->
<!--              Обери файл…-->
<!--            </span>-->
<!--          </span>-->
<!--          <span class="file-name">-->
<!--            {{ fileName }}-->
<!--          </span>-->
        </label>
        <button mat-raised-button class="prop-form-button" color="primary">Готово</button>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
<!--  <agm-map [latitude]="lat"  [longitude]="lng">-->
<!--    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--  </agm-map>-->
</div>
